---
import '../styles/global.scss';
---

<footer>
	<p>© 2025</p>
	<div class="footer_links">
		<a href="https://astro.build/chat">Discord</a>
		<a href="https://x.com/trueberryless">X</a>
		<a href="https://github.com/trueberryless-org/starlight-changelog">GitHub</a>
	</div>
</footer>
